---
import type { StoryblokCard } from '../_dto/CardDTO.astro';

interface Props {
    blok: StoryblokCard;
    className?: string;
}

const { blok, className } = Astro.props;
---

<div class:list={[className, 'grid border border-primary-400/50 dark:border-primary-500/50']} data-blok-c={blok.storyblokData?.['data-blok-c']} data-blok-uid={blok.storyblokData?.['data-blok-uid']}>
    <slot /> 
</div>