---
import type { StoryblokCard } from '../_dto/CardDTO.astro';

interface Props {
    blok: StoryblokCard;
    className?: string;
}

const { blok, className } = Astro.props;
---

<div class:list={[className, 'grid dark:bg-primary-950 dark:text-primary-200']} data-blok-c={blok.storyblokData?.['data-blok-c']} data-blok-uid={blok.storyblokData?.['data-blok-uid']}>
    <slot /> 
</div>