---
import Title from '../../0_atoms/Title.astro';
import type { StoryblokTitle } from '../../0_atoms/_dto/TitleDTO.astro';
import type { StoryblokStyleguideElement } from '../_dto/StyleguideElementDTO.astro';

interface Props {
    blok: StoryblokStyleguideElement;
}

const { blok } = Astro.props;
const title: StoryblokTitle = {
    title: 'Typography',
    type: 'h2',
};
---

<div class="" data-blok-c={blok.storyblokData?.['data-blok-c']} data-blok-uid={blok.storyblokData?.['data-blok-uid']}>
    <Title blok={title} />
    <div class="flex flex-col gap-16 sm:flex-row">
        <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-3 bg-primary-500/10 dark:bg-primary-400/10 items-center p-6 rounded-md w-64">
                <p class="text-5xl">Aa</p>
                <p class="dark:text-primary-200/70 text-primary-950/70 text-base">Inter</p>
            </div>
            <div class="flex flex-col gap-3 bg-primary-500/10 dark:bg-primary-400/10 items-center p-6 rounded-md w-64">
                <p class="font-medium text-5xl">Aa</p>
                <p class="dark:text-primary-200/70 text-primary-950/70 text-base">Inter Medium</p>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <Title blok={{title: 'Heading 1', type: 'h1', margin_bottom: {xs: '0'}}} />
            <Title blok={{title: 'Heading 2', type: 'h2', margin_bottom: {xs: '0'}}} />
            <Title blok={{title: 'Heading 3', type: 'h3', margin_bottom: {xs: '0'}}} />
            <Title blok={{title: 'Heading 4', type: 'h4', margin_bottom: {xs: '0'}}} />
            <p class="text-base">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate.
            </p>
        </div>
    </div>
</div>