---
import { type StoryblokDropdown } from '../_dto/DropdownDTO.astro';

interface Props {
    blok: StoryblokDropdown;
    className?: string;
}

const { blok, className } = Astro.props;
---

<div class:list={["group relative"]} data-blok-c={blok.storyblokData?.['data-blok-c']} data-blok-uid={blok.storyblokData?.['data-blok-uid']}>
    <span class="flex items-center relative cursor-pointer pointer-events-auto">
        <slot name="label" />
        <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
        </svg>
    </span>
    <div class:list={[className, "duration-300 invisible absolute h-auto w-[13.5rem] opacity-0 group-hover:visible group-hover:opacity-100 top-8"]}>
        <slot name="content" />
    </div>
</div>