---
import type { StoryblokAlert } from '../_dto/AlertDTO.astro';

interface Props {
    blok: StoryblokAlert;
    className?: string;
}

const { blok, className } = Astro.props;
---

<div class:list={[className, 'bg-red-700/10 dark:bg-red-400/10, text-red-700 dark:text-red-400']} data-blok-c={blok.storyblokData?.['data-blok-c']} data-blok-uid={blok.storyblokData?.['data-blok-uid']}>
    <slot /> 
</div>