---
import type { StoryblokTitle } from '../_dto/TitleDTO.astro';

interface Props {
    blok: StoryblokTitle;
    className?: string;
}

const { blok, className } = Astro.props;
---

<h1  class:list={["font-medium tracking-tight", className]} data-blok-c={blok.storyblokData?.['data-blok-c']} data-blok-uid={blok.storyblokData?.['data-blok-uid']} >
    {blok.title}
</h1>